*{
    margin: 0;
    padding: 0;
}

body, html{
    box-sizing: border-box;
}

img{
    width: 150px;
    max-width: 100%;
}

header{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* nav{
    width: 500px;
    
    margin: auto;
} */

.menu{
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    border-top: 3px solid gainsboro;
    border-bottom: 3px solid gainsboro;

}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.nav-links a:last-of-type{
    color: red;
}

.ad{
    width: 700px;
    height: 150px;
    margin: 15px auto;
    background-color: lightgray;
    
}



main{
    margin: auto;
    width: 50%;
    display: flex;
    margin-left: 17%;
    flex-direction: row-reverse;
}

main img{
    width: 500px;
}

aside{
    margin-top: 250px;
    display: inline-block
}

.main_aside{
    font-size: smaller;
    text-align: start;
}

.main{
    border-top: solid 1px gray;
}

.flex section{
    margin-left: 5%;
}

.z-index{
    position: absolute;
    z-index: 10;
    left: 180px;
    top: 820px;
}


.main{
    margin-top: 100px;
}

.red{
    color: red;
}

#read{
    margin-left: 23%;
    margin-top: 10px;
    width: 50%;
}

.subscription{
    background-color: whitesmoke;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    height: 100px;
    margin-top: -25px;
    padding: 80px;
}

.subscription p{
    padding-top: 40px;
}

.subscription button{
    background-color: red;
    color: white;
    padding: 5px;
    border: none;
    font-size: larger;
    border-radius: 5px;
}

.subscription-button{
    position: absolute;
    left: 47%;
    top: 178%;
}

.avis_img{
    margin-top: -30px;
}

.profil{
    width: 50px;
}

section article aside{
    width: 300px;
    border-top: 1px gray solid;
}

section article p{
    width: 500px;
    margin: auto;
    justify-content: center;
}

.flex{display: flex;}

.flex-column{
    display: flex;
    flex-direction: column;
}

.aside-articles{
    margin-left: 20%;
    
}

.aside-articles section{
    width: 20%;
    margin: 15px;
    border-top: 1px gray solid;
}

.articles{
    width: 50%;
    margin-left: 300px;
}

.main-paragraph{
    display: flex;
}

.links-E_avis{
    background-color: lightgray;
    width: 1510px;
    height: auto;
    display: flex;

    
    
}

.links-E_avis button{
    background-color: gray;
    align-self: center;

    
    
}

.comments{
    border-top: lightgray 2px solid;
    margin-bottom: 30px;
    text-align: center;
}

.anbefal{
    margin-top: 10px;
}

/* .links-Eavis ul{
    display: flex;
    flex-direction: column;
    text-align: center;
} */

address{
    width: 1515px;
    text-align: center;
    margin: 0 auto 5px;

    background-color: lightgray;
    gap: 10px;
    border: 2px solid whitesmoke;
}

.white_space{
    white-space:break-spaces;
}

address p{
    white-space: break-spaces;
}

address button{
font-size: large;
padding: 10px;
color: gray;
font-weight: bold;
}

#search{
    display: flex;
    align-items: center;
    align-self: center;
}